.scroll-to-top-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: red;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.scroll-to-top-button i {
  font-size: 24px;
}
