.user-profile {
  height: 520px; /* Height minus nav height */
  width: 100%;
  background-color: #DAA520;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
}
.user-profile h2 {
  margin-top: -35px; /* Adjust spacing from avatar to name */
  font-size: 45px; /* Adjust as needed */
  font-weight: bold;
  color: #fdfdfd; /* Name color */
}



